*.un~
*.md~
front/node_modules/*
./front/package-lock.json
*.mp4
*.vscode

# Logs
logs
*.log
front/npm-debug.log*
front/yarn-debug.log*
front/yarn-error.log*
front/pnpm-debug.log*
front/lerna-debug.log*

front/dist
front/dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
vision/__pycache__/*

